[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "extern/Game-Framework"]
	path = extern/Game-Framework
	url = https://github.com/heathen-engineering/Game-Framework.git
